.font-smallest {
	font-size: 0.577rem;
}

.font-smaller {
	font-size: 0.714rem;
}

.font-small {
	font-size: 0.857rem;
}

.font-medium {
	font-size: 1rem;
}

.font-large {
	font-size: 1.143rem;
}


/* Scss Document */


/* Text Font Family */

html, body {
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 14px;
    font-weight:400;
}

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/materialdesignicons-webfont.eot);
	/* For IE6-8 */
	src: local("Material Icons"), local("MaterialIcons-Regular"), url(../fonts/materialdesignicons-webfont.woff2) format("woff2"), url(../fonts/materialdesignicons-webfont.woff) format("woff"), url(../fonts/materialdesignicons-webfont.ttf) format("truetype");
}


/* Scss Document */


/* Device Wdith */


/* Scss Document */

.btn {
	background-color: #fff;
	color: #999;
	border: 1px solid #ccc;
	font-size: 0.857rem;
	border-radius: 18px;
	box-shadow: none;
	text-transform: none;
	height: 24px;
	line-height: 20px;
	font-weight: 500;
	padding: 0 20px;
	transition: 0.3s ease;
}

@media (max-width: 1250px) {
	.btn {
		padding: 0 12px;
	}
}

.btn i {
	font-size: 1rem;
}

.btn:hover {
	background-color: #fff;
	color: #999;
	border-color: #666;
	box-shadow: none;
}

.btn:focus {
	background-color: #fff;
	color: #999;
	border-color: #666;
	outline: none;
}

.btn:active {
	background-color: #fff;
	color: #999;
	border-color: #666;
}

.btn.btn-icon {
	padding: 0 6px !important;
}

.btn:disabled,
.btn.disabled {
	border-color: #f2f2f2 !important;
}

.btn .btn-transparent {
	padding: 0px;
	background-color: transparent;
	color: #999;
	border: 0;
	height: auto !important;
	line-height: normal;
}

.btn .btn-transparent:hover,
.btn .btn-transparent:active,
.btn .btn-transparent:focus {
	background: transparent;
	border: 0;
	height: auto !important;
	line-height: normal;
	box-shadow: none !important;
}

.btn .btn-floating {
	border-radius: 50% !important;
}

.btn.btn-filter.active {
	position: relative;
}

.btn.btn-filter.active:before {
	content: "";
	height: 6px;
	width: 6px;
	background: #40a4dc;
	position: absolute;
	top: 1px;
	right: 2px;
	z-index: 9;
	border-radius: 50%;
}

.btn.btn-filter.btn-icon-small.active {
	position: relative;
}

.btn.btn-filter.btn-icon-small.active:before {
	top: -1px;
	right: 1px;
}

.action-row-wrap {
	padding-top: 7px !important;
	padding-bottom: 7px !important;
}

.multiple-btn .btn {
	margin-left: 10px;
}

.multiple-btn .btn:first-child {
	margin-left: 0;
}

.btn-icon{
	min-width:25px;
	width: 24px;
	height: 24px;
    line-height: 24px;
	padding:0px;
    color: #999;
    background-color: #f2f2f2;
    border-radius: 50%;
	text-align: center;
}
.btn-icon:last-child{
	margin-left:15px;
}
.btn.btn-delete,
.btn.btn-filter,
.btn.btn-search,
.btn.btn-refresh,
.btn.btn-setting,
.btn.btn-edit,
.btn-iconbtn,
.pagination .btn-left-page,
.pagination .btn-right-page,
.pagination-widget .next,
.pagination-widget .prev {
	width: 24px;
	height: 24px;
	line-height: 20px;
	color: #999;
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 50%;
	text-align: center;
	padding: 0px !important;
}

.btn.btn-delete i,
.btn.btn-filter i,
.btn.btn-search i,
.btn.btn-refresh i,
.btn.btn-setting i,
.btn.btn-edit i,
.btn-iconbtn i,
.pagination .btn-left-page i,
.pagination .btn-right-page i,
.pagination-widget .next i,
.pagination-widget .prev i {
	line-height: 20px;
	font-size: 0.857rem;
}

.btn.btn-delete:hover,
.btn.btn-filter:hover,
.btn.btn-search:hover,
.btn.btn-refresh:hover,
.btn.btn-setting:hover,
.btn.btn-edit:hover,
.btn-iconbtn:hover,
.pagination .btn-left-page:hover,
.pagination .btn-right-page:hover,
.pagination-widget .next:hover,
.pagination-widget .prev:hover {
	color: #40a4dc;
	background-color: transparent;
	border-color: transparent;
}

.btn.btn-icon-small {
	height: 20px;
	line-height: 12px;
	width: 20px;
}

.btn.btn-icon-small i {
	line-height: 12px;
	font-size: 0.714rem;
}

.btn.btn-icon-large {
	height: 28px;
	line-height: 27px;
	min-width: 28px;
}

.btn.btn-icon-large i {
	line-height: 27px;
	font-size: 14px;
}

.btn.btn-primary,
.btn.btn-info,
.btn.btn-save,
.btn.btn-apply,
.btn.btn-create {
	height: 24px;
	line-height: 12px;
	background-color: #40a4dc;
	color: #fff;
	border-radius: 18px;
	border-color: #40a4dc;
	text-transform: none;
}

.btn.btn-primary:hover,
.btn.btn-info:hover,
.btn.btn-save:hover,
.btn.btn-apply:hover,
.btn.btn-create:hover {
	background-color: #368ec0;
	border-color: #368ec0;
}

.btn.disabled,
.btn:disabled {
	height: 24px;
	background-color: #f2f2f2 !important;
	color: #ccc !important;
	border-radius: 18px;
	border-color: #f2f2f2 !important;
}

.btn.disabled:hover,
.btn:hover:disabled {
	background-color: #f2f2f2;
	border-color: #f2f2f2;
}

.btn.btn-light,
.btn.btn-cancel,
.btn.btn-secondary {
	height: 24px;
	line-height: 12px;
	background-color: #f2f2f2;
	color: #666;
	border-radius: 18px;
	border-color: #ccc;
	transition: ease 0.3s all;
	text-transform: none;
}

.btn.btn-light:hover,
.btn.btn-cancel:hover,
.btn.btn-secondary:hover {
	background-color: #ccc;
	border-color: #ccc;
}

.btn.btn-contextual,
.btn.btn-contextual-primary {
	height: 24px;
	line-height: 20px;
	background-color: #fff;
	color: #40a4dc;
	border-radius: 18px;
	border-color: #40a4dc;
}

.btn.btn-contextual:hover,
.btn.btn-contextual-primary:hover {
	box-shadow: inset 0 0 0 1px #40a4dc, inset 0 0 0 1px #40a4dc, inset 0 0 0 1px transparent;
}

.btn.btn-contextual-secondary {
	height: 24px;
	line-height: 20px;
	background-color: #fff;
	color: #999;
	border-radius: 18px;
	border-radius: 18px;
	border-color: #999;
}

.btn.btn-contextual-secondary:hover {
	border-color: #999;
	color: #999;
	box-shadow: inset 0 0 0 1px #999, inset 0 0 0 1px #999, inset 0 0 0 1px transparent;
}

.btn.btn-flat-primary {
	border: none;
	border-bottom: 1px solid transparent;
	border-radius: 0px;
	height: auto;
	line-height: normal;
	padding: 0px !important;
	color: #40a4dc;
}

.btn.btn-flat-primary:hover {
	color: #40a4dc;
	border-bottom: 1px solid #40a4dc;
}

.btn.btn-flat-secondary,
.btn.btn-close,
.btn.btn-clear {
	border: none;
	border-bottom: 1px solid transparent;
	height: auto;
	line-height: normal;
	padding: 0px !important;
	color: #999;
	transition: ease 0.3s all;
	border-radius: 0px;
}

.btn.btn-flat-secondary:hover,
.btn.btn-close:hover,
.btn.btn-clear:hover {
	color: #333;
	border-bottom: 1px solid #999;
}

.btn.btn-small {
	font-size: 0.714rem;
	height: 20px;
	line-height: 12px;
	padding: 0 12px;
}

.btn.btn-large {
	font-size: 0.857rem;
	height: 28px;
	line-height: 27px;
}

.btn.btn-icon-group {
	padding: 0px 0.5rem;
	width: auto;
}

.btn.btn-icon-group a {
	margin-left: 0.5rem;
	color: #666;
}

.btn.btn-icon-group a:first-child {
	margin-left: 0.2rem;
}
.btn-group .btn {
	margin-left: 5px;
}
.btn-group .btn:first-child {
	margin-left: 0;
}
.btn.btn-transparent {
	padding: 0;
	border: none;
	height: auto;
}
/*
  materialize customised ends here
  
  */

h1 {
	font-size: 1.143rem;
	font-weight: 500;
	line-height: 1rem;
	margin: 5px 0px;
}

h2 {
	font-size: 1.143rem;
	font-weight: 500;
	line-height: 1rem;
	margin: 5px 0px;
}

h3 {
	font-size: 1rem;
	font-weight: 500;
	line-height: 1rem;
	margin: 5px 0px;
}

h4 {
	font-size: 0.857rem;
	line-height: 1rem;
	margin: 5px 0px;
}

h5 {
	font-size: 0.714rem;
	line-height: 1rem;
	margin: 5px 0px;
}

h6 {
	font-size: 0.577rem;
	line-height: 1rem;
	margin: 5px 0px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

html {
	font-size: 14px;
}

.row {
	margin-bottom: 0px;
}

 a {
	color: #40a4dc;
 }

 ::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #999;
}

 ::-moz-placeholder {
	/* Firefox 19+ */
	color: #999;
}

 :-ms-input-placeholder {
	/* IE 10+ */
	color: #999;
}

 :-moz-placeholder {
	/* Firefox 18- */
	color: #999;
}
.main {
	padding: 10px 20px;
}

/*
  Form Elements start
  */

.input-field {
	margin-bottom: 12px;
	box-sizing: border-box;	
}


.input-field input[type="text"],
.input-field input[type="password"],
.input-field textarea,
.input-field input[type="number"],
.input-field input[type="search"] {
	
	height: 1.8rem;
	font-size: 0.857rem;
	border-bottom: 1px solid #666;
	padding:0px;
	
}
.input-field.textarea-wrapper label[data-shrink="true"]{
	transform:translate(0, 6px) scale(1)
}
.input-field.textarea-wrapper label{
	transform:translate(0, 6px) scale(1)
}
.input-field textarea{
  border:1px solid #ccc;
  height: 4.6rem;
  box-sizing: border-box;
}

.input-field label {
	font-size: 10px;
	font-weight: 500;
}

.input-field input[type="text"]:focus,
.input-field input[type="password"]:focus,
.input-field input[type="number"]:focus {
	box-shadow: 0 1px 0 0 #666;
}

.input-field input[type="text"]:focus label,
.input-field input[type="password"]:focus label,
.input-field div:focus label {
	color: #000;	
}

.input-field label[data-shrink="true"] {
	transform: translate(0px, 0.5px);
	color: #666666;
}

.input-field label[data-shrink="true"] {
	transform: translate(0px, 5px);
	color: #666666;
}

.input-field.textarea-wrapper.help-text p{
	text-align:right;
	margin:0px;
	font-size: 0.714rem;
    color: #333333;
}

.input-field.help-text p{
	font-size: 0.714rem;
    color: #333333;
}

.input-field p.help-text.error-text{
	font-size: 0.714rem;
	color:red;
} 
.input-field.help-text.error p{
	font-size: 0.714rem;
	color:red;
	margin-top:4px;
}
	/*
  Form Elements ends
  */
/*radio css*/

.radio-group .radio{
	color:yellow
}
.radio-group .radio.checked{
	color: green;
}
.checkbox-wrapper{
	padding:0px;
}
.checkbox-wrapper svg{
	font-size: 22px;
	border-radius:0px;
}
.checkbox-wrapper.checked {
	
	color: #368ec0;
}
.modal-header,.modal-content,.modal-footer{
	padding:5px 10px;
}
.modal-header h3{
	line-height: 1.8;
    font-size: 1rem;
    color: #000;
		float:left;
		margin:0px;
	
}
.modal-header button{
	color:#a0a0a0;
	float:right;
	font-size:1rem;
	padding:5px;
}
.modal-header{
	border-bottom: 1px solid #ccc;
	font-weight: 500;
	padding: 8px!important;
}
.modal-footer{
	border-top: 0;
	text-align: right;
	padding:10px 10px;
	margin:0px;
}
.modal-content p{
/*	font-size: 0.857rem;
	font-family: 'OpenSans-Regular';
	margin:0px;
	color:#000;*/
}
.modal-small {
	min-width: 320px;
}
.modal-medium {
	min-width:600px;
}
table.table .table-head tr{
	height:auto;
	background: #edf4f9;
}
table.table .table-head tr th{
	font-size: 0.857rem;
    color: #333;
	font-weight: 500;
	padding:15px 10px;
}
table.table .table-body tr{
	height:auto;
	border:0px;
}

table.table .table-body tr td,table.table .table-body tr th{
	font-size: 0.857rem;
    color: #333;
    padding:15px 10px;
}
/*margin & padding*/
.mb10{
	margin-bottom:10px;
}
.mb15{
	margin-bottom: 15px;
}
.mb20{
	margin-bottom:20px;
}
.mt10{
	margin-top:10px;
}
.mt15{
	margin-top:15px;
}
.mt20{
	margin-top:20px;
}
.ml10{
	margin-left: 10px;
}
.ml15{
	margin-left: 15px;
}
.mr10{
	margin-right: 10px;
}
.mr15{
	margin-right: 15px;
}
.pt10{
	padding-top:10px!important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
 -webkit-text-fill-color: transparent 
  -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

.header{
	background-color:#11569c;
	height:38px;
}
.brand-logo{
	float:left;
	width:82px;
	height:38px;
	line-height: 55px;
	color:#fff;
	padding:0 5px;
	fill:#fff;
}
.nav{
	float:left;
	padding:0px;
	margin:0px;
}
.nav li{
	float:left;
	list-style: none;
	height:38px;
}
.nav li a{
	color:#fff;
	font-size:12px;
	line-height: 38px;
	padding:10px 15px;
	cursor:pointer;

	
}
.nav li a:hover{
	background-color: #013163
}
.nav li a.active{
	background-color: #013163
}
.page-layout-spacing{
	padding:0px 10px;
}
.passwordicon-wrapper button{
	padding:5px;
	font-size:14px;
}

.passwordicon-wrapper:after,.inputfield-wrapper:after {
  border-bottom: 2px solid #666 !important;
}
.passwordicon-wrapper:before,.inputfield-wrapper::before{
	border-color: #666 !important;
}

.passwordicon-wrapper:hover:not(.disabled):not(.passwordicon-wrapper):not(.error):before,
.inputfield-wrapper:hover:not(.disabled):not(.inputfield-wrapper):not(.error):before
{
	border-color: #666 !important;
}

.password-field label[data-shrink="true"] {
	transform: translate(0px, 0.5px);
	color: #666666;
}

.password-field label[data-shrink="true"] {
	transform: translate(0px, 5px);
	color: #666666;
}
.password-field label
{
	font-size: 10px;
	font-weight: 500;
}
.password-field.help-text.error p{
		font-size: 0.714rem;
    color: red;
    margin-top: 4px;
}
.password-field input[type="text"],.password-field input[type="password"]{
	height: 1.8rem!important;
	font-size: 0.857rem;
	padding: 0px;
}

.tab-wrapper button{
	min-width: auto;
	padding:0px 10px;
	min-height: 30px;
	color:#11569c!important;
	text-transform: capitalize;
	font-size: 12px;
}
.tab-wrapper button span{
	padding:0px 0px;
}
.tab-wrapper{
	min-height: 30px;
}
.tab-wrapper button[aria-selected="false"]{
	color:#666!important;
}
.search-input-field{
	height: 1.8rem;
	line-height: 1.8rem;
	border:1px solid #ccc;
	border-radius:18px;
	padding-left: 10px;
}
.search-wrapper{
	height: 1.8rem;
	line-height: 1.8rem;
}
.search-wrapper input[type="search"]{
	border:0px;
	padding:0px 10px;
}

.search-icon{
	padding: 6px!important;
	background: transparent;
}
.search-icon:hover{
	background: transparent;
}
.search-icon i{
	font-size:12px;
}
/*custom scroll*/
::-webkit-scrollbar {
  width: 7px; }

::-webkit-scrollbar-track {
  /*-webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.50);*/
  border-radius: 0px;
  background-color: #ccc; }

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  /*-webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.20);*/
	background: #999; }
	

	.dropdown-menu button {
    padding-top:9px;
    padding-bottom:9px;
}
.dropdown-menu button span{
    color:#fff;
    background: transparent;
    text-transform: capitalize;
}
.dropdown-menu button span i{
    font-size:16px;
}
.dropdown-menu button:hover{
    background:transparent;
}
.dropdown-menu ul{
    padding:0px;
    margin:0px;
    border-radius:5px;
}
.dropdown-menu ul li{
    padding:0 8px;
    margin:0px;
    font-size: 12px;
    
}
div[role=tooltip] div{
    border-radius:0 0 2px 2px;
}
.file-upload {
	margin: 10px 0;
}
.file-uploader {
	float: left;
	width: 170px;
	position: relative;
	overflow: hidden;
	border-radius: 18px;
}
.file-uploader input[type="file"] {
	position: absolute;
	z-index: 9;
	padding: 2px 0;
	cursor: pointer;
	opacity: 0;
}
.file-uploader input[type="file"]:focus {
	outline: none;
}
.file-uploader input[type="file"]:hover + button {
	box-shadow: inset 0 0 0 1px #40a4dc, inset 0 0 0 1px #40a4dc, inset 0 0 0 1px transparent;
}
.file-uploader button {
	width: 100%;
}
.uploader-file-name {
	float: left;
	padding: 2px 10px;
	width: calc(100% - 170px);
	box-sizing: border-box;
}
.uploader-file-name-text {
	font-size: 12px;
	color: #000;
	max-width: 90%;
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	direction: rtl;
}
.uploader-file-name button {
	float: left;
	margin: 3px 0 3px 5px;
}