.no-data-message {
    text-align: center;
}
.no-data-message__text {
    font-size: 0.857rem;
    line-height: 1.8;
    color: #333;
    font-weight: 500;
}
.no-data-message__button {

}
.MuiFormGroup-root {
    flex-direction: row!important;
}
.right-align {
    text-align: right;
}
.MuiInputLabel-root.MuiInputLabel-formControl {
    font-size: 0.714rem;
    font-weight: 500;
    color: #999;
}
.MuiInputLabel-formControl.MuiInputLabel-shrink {
    transform: translate(0, 1.5px) scale(1);
}
.MuiSelect-selectMenu.MuiInputBase-inputSelect {
    font-size: 0.857rem;
}
.MuiButtonBase-root.MuiMenuItem-root {
    min-height: 32px;
    font-size: 0.857rem;
}
.MuiList-root.MuiList-padding {
    padding: 0;
}
.MuiToolbar-root.MuiPickersToolbar-toolbar {
    background-color: #40A4DC;
}
.MuiPickersDay-day.MuiPickersDay-daySelected,
.MuiPickersDay-day.MuiPickersDay-daySelected:hover {
    background-color: #40A4DC;
}
.MuiButton-text.MuiButton-textPrimary {
    color: #40A4DC;
}